<div class="container">
  <h1 class="h1">定期更新機能</h1>
  <br><br>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
			<button type="button" id="start" class="btn btn-block btn-success">スタート</button>
    </div>
  </div>

  <br><hr><br>

	<div class="row">
		<div class="col-xs-offset-1 col-xs-4">
			<h2 class="h2">サーバータイム</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-2 col-xs-6">
			<p id="time" class="showTime"></p>
		</div>
	</div>
</div>

<script>
$(function(){
  clearActive();
	setActive("menuRegularUpdate");
	setStartClickEvent();
});
</script>