<div class="container">
  <h1 class="h1">画像表示</h1>
  <br><br>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-11">
    	<h2 class="h2">その１</h2>
			<div class="picFlame">
				<img class="picture" src="<%= @img_src %>" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-5">
			<h2 class="h2">その２</h2>
			<div class="picFlame">
				<img class="picture img-responsive" src="<%= @img_src %>" />
			</div>
		</div>
	</div>
</div>

<script>
$(function(){
  clearActive();
  setActive("menuPicture");
});
</script>