<div class="container">
	<h1 class="h1">PDF表示</h1>
	<br><br>
	<div class="row">
		<div class="col-lg-5">
				<button type="button" id="pdf" class="btn btn-block btn-info"  onClick="window.open('/pdf_show','_blank')">PDFを別タブで表示</button>
		</div>
	</div>
</div>

<script>
	$(function(){
    clearActive();
    setActive("showPdf");
	});
</script>