body {
  font-family: -apple-system, Segoe UI, Helvetica Neue,
    Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  background: #f4f6f9 !important;
}

body.app_page {
  background-color: (rgb(58, 58, 58));
}

.responsive-title{
  font-size: 1.5rem;
}

@media (min-width: 768px){
  .responsive-title{
    font-size: 1.8rem;
  }
}

.logo-frame{
  height: 140px;
}

.logo-img {
  object-fit: contain;
  max-height: 100%;
}

.page-title {
  color: white;
  font-size: 1.2rem;
}

.label-adjustment {
  margin-top: 8px;
}

.my-card-title {
  text-align: center;
  margin: 6% auto;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.parent-position{
  position: relative;
}

.y-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.y-center.width-max{
  width: 100%;
}

.yx-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.yx-center.width-max{
  width: 100%;
}

.pic-box {
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: white;
}

.margin-zero.pic-box {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.img-adjustment {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.display-name-parent {
  position: relative;
}

.display-name-child {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.margin-footer-space {
  bottom: 3.4rem;
}

.non-margin-footer-space {
  bottom: 0rem !important;
}

input[type="number"]:not(.enable-spinner) {
  -moz-appearance: textfield;
}

input[type="number"]:not(.enable-spinner)::-webkit-outer-spin-button,
input[type="number"]:not(.enable-spinner)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-sidebar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.support-download-button {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.select-height {
    height: 80% !important;
}

.nowrap{
  white-space: nowrap !important;
}

table{
  td, div, a{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
  }
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

.date-form{
  width: 68px;
}